*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar{
    height: 100px;
    padding: 0 3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: lightsteelblue;
}

#navbar > a{
    font-size: 2rem;
    font-weight: 900;
    flex: 0.3;
}

#navbar > #search_input{
    flex: 1;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 800;
}
