main > #results{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#results > .news{
    border: 3px solid green;
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

#results > .news > img{
    height: 250px;
    width: 250px;
}

#results > .news > div{
   display: flex;
    flex-direction: column;
    gap: 2.5rem;
}